<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>reichsarchiv / error</title>

    <style>

      body, html {
        font-family: 'Arial';
        background: #0e0e0e;

        height: 100%;
        display: grid;

        overflow: hidden;

        color: #cccccc;
      }

      #center {
        display: flex;
        align-items: center;
      }

      #error {
        color: #F58A07;
      }

    </style>
  </head>

  <body>
    <div id="center">
      <p><b id="error">Something went wrong. ¯\_(ツ)_/¯</b></br><% message %></p>
    </div>
  </body>
</html>
