<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/styles/statuspage.css">

    <title>reichsarchiv / success</title>
  </head>

  <body>
    <div class="container">
      <div class="center">
        <p>
          <b class="success">Uploaded file.</b> (<a href="../<%= name %>"><%= name %></a>) </br>
          <a href="/" class="muted">Back.</a>
        </p>
      </div>
    </div>
  </body>
</html>
