<!doctype html>
<html lang="en">
  <head>
    <%- include('../../views/partials/head') %>
    
    <title>00 - <%= status %></title>

    <style>
    </style>
  </head>

  <body>
    <div class="container vertical-parent" style="margin-top: 1em;">
      <p>
        <b><%= message %></b>
      </p>
    </div>
  </body>
</html>
