html, body {
  height: 100%;
  color: #222 }

.vertical-parent {
  height: 100%;
  display: flex;
  align-items: center }
.vertical-child {
  margin: 0 }

.alert {
  padding: 1em;
  border: 1px solid #33C3F0;
  border-radius: 3px; }

.muted {
  color: gray; 
  font-weight: normal; }