<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>fspace - error</title>

    <style>
      .container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <pre><%= JSON.stringify(err).replace('\n', '</br>') %></pre>
  </body>
</html>
