@font-face {
  font-family: circular;
  src: url(./circular.woff);
}

body, html {
  background-color:#1E1E1E;
  font-family: 'circular', 'Helvetica Neue';
  color: #fff;
}

h2 {
  font-size: 36px;
  font-weight: 1000;
  letter-spacing: .005em;
}

h3 {
  font-size: 21px;
  font-weight: 1000;
  letter-spacing: .005em;
}

.container {
  margin-top: 1em;
}

.muted {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
}

img {
  width: 200px;
  height: auto;
}

.track {
  margin: 0 auto;
}

@media (min-width: 750px) {
  .flex-center {
    display: flex;
    justify-content: center;
  }
}

.tracklist {
  margin-top: 1em;
}

.tracklist-index {
  margin-right: 1em;
  color: #b3b3b3;
}

.tracklist-item {
  margin-bottom: 0.5em;
}