<!-- Welcome, friend. >_ -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<link rel='shortcut icon' type='image/x-icon' href='https://steamcommunity.com/favicon.ico'/>

	<style>

    #app {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    #app .card { margin-top: 1em; }

    .card h6 small { margin-left: 1em; }

    #statbox { margin-top: 5em; }

    #app form {
      margin-top: 1em;
      margin-bottom: 1em;
    }

		#app form label {
			margin-left: 1em;
		}

	</style>

	<title>comments-detail</title>
</head>
<body>
  <div id="app" class="container">
    <h4>comments on <a href="http://steamcommunity.com/groups/projectbluestreak">bluestreaks</a> group page.</h4>

    <div class="row">
      <div class="col-5">
				<form class="form-inline">
				  <button class="btn btn-secondary" @click.prevent="reverse()">Reverse selection</button>
					<label>{{ active.length }} selected.</label>
				</form>

				<div class="alert alert-light">
				  Tip: try pressing CTRL + LMB!
				</div>

        <div class="card" v-for="c in sortedComments" v-if="c.id && c.author && c.text" @click.ctrl="add(c.id)" @click="set(c.id)" :class="{ 'border-primary': active.includes(c.id) }">
          <div class="card-body">
            <h6 class="card-title"><a :href="'http://steamcommunity.com/profiles/' + c.author.id">{{ c.author.name }}</a><small class="float-right">{{ c.date | fromNow }}</small></h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ c.id }}</h6>
            <p class="card-text">{{ c.text }}</p>
          </div>
        </div>
      </div>

      <div class="col-5 fixed-top ml-auto" id="statbox">
        <p>
          The average comment is {{ Math.round(avgTxt) }} characters long.
        </p>

				<div class="alert alert-primary col-7">
				  Currently, this (sub-)project isn't more than a proof-of-concept,
					maybe even a technical demo, in the eyes of some. <hr>
					I won't be continuing development until I can get my hands on some
					feedback and run some of my ideas by (qualified) others.
				</div>
      </div>
    </div>
  </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

  <script>
		let c = false

    const app = new Vue({
      el: '#app',
      data: {
        comments: [ '_' ],
				active: []
			},
      mounted() {
        this.get()
        setInterval(this.get, 10 * 60 * 1000)
      },
      computed: {
        avgTxt () {
					if (this.active.length) {
						let c = []

						if (this.active.length > 0) {
							for (let id of this.active) {
								for (let cm of this.comments) {
									if (cm.id === id) {
										c.push(cm.text.length)
									}
								}
							}
						} else for (let cm of this.comments) { c.push(cm.text.length) }

	          return (c.reduce((a, b) =>  a + b) / c.length)
					} else return 0
        },
				sortedComments () {
					if (this.comments) return this.comments.sort((a, b) => (new Date(b.date)).getTime() - (new Date(a.date)).getTime())
				}
      },
      methods: {
        get () {
          axios.get(`https://fsoc.space/api/group/comments/full`)
            .then(response => {
              console.log(response)
              this.comments = response.data
            })
            .catch(e => {
              console.error(e)
            })
        },
				add (id) {
					c = true
					if (this.active.includes(id)) {
						this.active.splice(1, this.active.indexOf(id))
						console.log(`removed ${id} from active (${this.active})`)
					} else {
						this.active.push(id)
						console.log(`added ${id} to active (${this.active})`)
					}
					setTimeout(() => { c = false }, 100)
				},
				set (id) {
					if (!c) {
						if (this.active[0] === id) {
							this.active = []
							console.log(`cleared active`)
						} else {
							this.active = [ id ]
							console.log(`set active to ${id}`)
						}
					}
				},
				reverse () {
					for (let c of this.comments) {
						if (this.active.includes(c.id)) {
							this.active.splice(1, this.active.indexOf(c.id))
							console.log(`removed ${c.id} from active (${this.active})`)
						} else {
							this.active.push(c.id)
							console.log(`added ${c.id} to active (${this.active})`)
						}
					}
				}
      },
      filters: {
        fromNow (e) {
          return moment(e).from(Date.now())
        }
      }
    })
  </script>
</body>
</html>
