body, html {
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p.center {
    text-align: center;
}

small.weightless {
    font-weight: normal;
}

div.center {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.box {
    width: 90%;
}
div.small-box {
    width: 90%;
}

@media (min-width: 400px) {
    div.box {
        width: 80%;
    }
    div.small-box {
        width: 80%;
    }
}

@media (min-width: 550px) {
    div.box {
        width: 70%;
    }
    div.small-box {
        width: 60%;
    }
}

@media (min-width: 750px) {
    div.box {
        width: 60%;
    }
    div.small-box {
        width: 50%;
    }
}

@media (min-width: 950px) {
    div.box {
        width: 50%;
    }
    div.small-box {
        width: 25%;
    }
}
