<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>fspace - error</title>

    <style>
    </style>
  </head>

  <body>
    <div class="container vertical-parent">
      <div class="row">
        <p><b><%= err.message || 'Something exploded.' %></b></p>
      </div>

      <%- include('partials/footer') %>      
    </div>
  </body>
</html>
