<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>fspace - index</title>

    <style>
    </style>
  </head>

  <body>
    <div class="container">
      <p>
        Hey there, <b><%= user.nickname %></b>, you have an access level of 
        <b><%= user.accessLevel %></b>.
      </p>
    </div>
  </body>
</html>
