@font-face {
    font-display: fallback;
    font-family: Vollkorn;
    src: url("../fonts/Vollkorn-Regular.eot");
    src: local("Vollkorn"),
    url("../fonts/Vollkorn-Regular.woff2") format("woff2"), 
    url("../fonts/Vollkorn-Regular.woff") format("woff"),
    url("../fonts/Vollkorn-Regular.ttf") format("truetype");
}

@font-face {
    font-display: fallback;
    font-family: Vollkorn;
    font-weight: bold;
    src: url("../fonts/Vollkorn-Bold.eot");
    src: local("Vollkorn Bold"),
    local("Vollkorn"),
    url("../fonts/Vollkorn-Bold.woff2") format("woff2"),
    url("../fonts/Vollkorn-Bold.woff") format("woff"),
    url("../fonts/Vollkorn-Bold.ttf") format("truetype");
}

h1, h2, h3, h4, h5 { margin: 0; }

body {
    font-family: Vollkorn, serif;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-feature-settings: "liga";

    margin: 0px;
    padding: 50px;
}

main {
    max-width: 400px;
    font-size: 1.125em;
}
