<!doctype html>
<html lang="en">
  <head>
    <%- include('../../views/partials/head') %>
    
    <title>00 - idler</title>

    <style>
    </style>
  </head>

  <body>
    <div class="container vertical-parent">
      <div class="row">
        <div class="nine columns">
          <form action="<%= idler %>edit/<%= id %>" method="POST">
            <label for="userInput">Account Name</label>
            <input class="u-full-width" type="text" id="userInput" name="name">
            <label for="passInput">Password</label>
            <input class="u-full-width" type="password" id="passInput" name="pass">
            <label for="shasecInput">Shared Secret</label>
            <input class="u-full-width" type="text" id="shasecInput" name="shasec">
            <label for="codeInput">
              Steam Guard Code
            </label>
            <input class="u-full-width" type="text" id="codeInput" name="code">

            <input class="button-primary" type="submit" value="Update Account">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
