@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

div.center {
  height: 10em;
  display: flex;
  align-items: center;
}