<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>
    <form action="/login" method="POST">
      <input id="name" type="text" placeholder="Username" name="username">
      <input id="name" type="password" placeholder="Username" name="password">
      <button type="submit">
        Login
      </button>
    </form>
  </body>
</html>
