html, body {
  height: 100%;
  color: #222 }

div.center {
  position: absolute;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

.vertical-parent {
  height: 100%;
  display: flex;
  align-items: center }
.vertical-child {
  margin: 0 }

.alert {
  padding: 1em;
  border: 1px solid #33C3F0;
  border-radius: 3px;
  margin-bottom: 1em; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.muted {
  font-weight: normal; }

.bold {
  font-weight: bold; }