<!doctype html>
<html lang="en">
  <head>
    <%- include('../views/partials/head') %>
    
    <title>00 - trader</title>

    <style>
      .container {
        margin-top: 1em }
    </style>
  </head>

  <body>
    <script src="https://unpkg.com/mithril/mithril.js"></script>

    <div class="container">
    </div>

    <script src="<%= root %>trader/index.js"></script>
  </body>
</html>
