<h3>
  rrl-concat
</h3>

<% if (locals.message) { %>
  <p><b><%= message %></b></p>
<% } %>

<form action="./authenticate" method="POST">
  <label>Username: </label><br>
  <input name="username"><br>
  <label>Password: </label><br>
  <input name="password" type="password"><br>
  <button type="submit">Submit</button>
</form>