<html>
  <head>
    <title>rrl-concat</title>

    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <%- body %>
      </div>
    </div>
  </body>
</html>