<p>
  Select a fiction to load a chunk for with the <code><b>fiction=${ID}</b></code> 
  query. Optionally, you can adjust the chunk index and size with 
  <code><b>page=</b></code> and <code><b>size=</b></code>, respectively.<br>
  The default page is 0, and the default size is 5.
</p>

<p>
  You may also define a chapter to start the chunking at with 
  <code><b>chapter=${ID}</b></code>.
</p>

<p>
  Example: <a href="./?fiction=8894&page=1&size=10"><code>/?fiction=8894&page=1&size=10</code></a>
</p>