.container {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

form .group:not(:first-child) {
    margin-top: 10px;
}

.beatmap-graph-container {
    height: 40vh;
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.action-slider-container {
    height: 200px;
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    overflow-x: scroll;
}
